<%- include('../partials/header'); %>
<h1 style="text-align: center;"><%= message %></h1>
<p style="text-align: center;"><a href="/post/details/<%= post._id %>">Back to the Post</a></p>
<%- include('../partials/footer'); %>